.profile_details {
  width: max-content;
  box-shadow: var(--box-shadow);
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1rem;
}
.profile_nav {
  display: flex;
  justify-content: space-evenly;
  border-top: 5px solid var(--primary-color);
  width: max-content;
}

.profile_nav a {
  padding: 1rem;
  color: var(--primary-color);
  border-bottom: none;
}


@media screen and (min-width:691px) {
  .checkout_container{
    margin-top: 6rem;
  }
}