@import url("../../styles/reset.css");
header {
  position: relative;
  width: var(--max-width);
  top: 83px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  height: var(--header-height);
  z-index: var(--z-index);
}
.logo {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  letter-spacing: 2px;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 0.8rem;
  color: var(--primary-color);
}

.nav-menu {
  display: flex;
  align-items: center;
}
.secondary-btn {
  color: var(--text-color);
  background-color: var(--primary-color);
  border: solid 2px var(--primary-color);
  padding: 0.2rem 0.8rem;
  border-radius: var(--border-radius);
}

.badge {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 2px;
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
  text-align: center;
}

.wish_badge{
  right: 2.5rem;
}